# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/

# Virtual envs
.venv/
venv/
ENV/

# OS files
.DS_Store
Thumbs.db

# IDE/editor
.vscode/
.idea/
*.iml

# Env
.env

# Logs
*.log

# Cache/build
node_modules/
dist/
build/
